<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Receipt</title>
    <style>
        /* Add your CSS styles here */
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
            padding: 20px;
            border: 2px solid #000;
            border-radius: 10px;
            max-width: 900px;
            background-color: #c0dc75;
        }
        .receipt-header {
            text-align: center;
            margin-bottom: 20px;
        }
        .receipt-info {
            margin-bottom: 10px;
            font-size: 20px;
        }
        .receipt-info span {
            font-weight: bold;
        }
        .amount {
            font-size: 20px;
            font-weight: bold;
            text-align: center;
            margin-top: 30px;
        }

        .receipt-header {
            color:red;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        
    </style>
</head>
<body>
    <div class="receipt-header">
        <h2>ಕಣಿಹಿತ್ತಿಲು ಶ್ರೀ ಮಲರಾಯ ಧೂಮಾವತಿ ಪಂಜುರ್ಲಿ, ನಾಗ ಹಾಗೂ ಪರಿವಾರ ದೈವಗಳ ದೈವಸ್ಥಾನ, ಬಂಗೇರ ತರವಾಡು </h2>
            
            
           <h3> ಜಿಪ್ಪಾರು, ಬಾಯಾರು ಕಾಸರಗೋಡು 67132<br>
            
            ಮೊ . : 9446772599, 8086781919</h3> 
    </div>
    <div class="receipt-info">
        <p><span>Date:</span> <%= date %></p>
        <p><span>Name:</span> <%= user.name %></p>
        <p><span>Type:</span> <%= type %></p>
        <p><span>Shake:</span> <%= user.group %></p>
    </div>
    <div class="amount">
       <h2><p>Paid Amount: <%= amount %></p></h2> 
    </div>
</body>
</html>
