<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Maanila HomePage</title>
    <style>

        *{
            margin: 0;
            padding: 0;
        }
        .mainContainer{
            height: 100vh;
            display: grid;
            grid-template-rows: 1fr 2fr 5fr;
        }

         .child1{
            display:grid;
            grid-template-columns: 1fr 4fr;
            background-color:#DBF3fa;
        }

        .child11{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color:#DBF3fa;
        }

        .child2{
            margin-top:-2vh;
            display:flex;
            justify-content: space-around;
            align-items: center;
            background-color:#DBF3fa;
        }

        .logo{
            width: 4vw;
            height: 4vw;
            border-radius: 50%;
            background-color:#DBF3fa;
        }
        
        .child3{
            display: flex;
            justify-content: space-around;
            align-items: center;
            background-color:#DBF3fa;
            /* background-color:#f1fcff; */
        } 

        .child12{
            align-content: center;
        }

        .child{
            display:flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            width:20vw;
            height: 30vh;
            background-color:white;
            border-radius: 2vw;
        }
        ul{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            color: #D93E3E;
            font-size: 1.2vw;
            list-style: none;
            display:flex;
            justify-content: space-around;
            cursor: pointer;
        }

        .child31,.child32{
            border-radius: 2vw;
            height:50vh;
        }

        .child31{
          width:40vw;
          /* background-color: #f2f2f2; */
          background-color:white;
          display:flex;
          justify-content: space-around;
        }

        .child311{
            align-items: center;
            width: 100%;
            height: fit-content;
            padding: 1vw;
            display:flex;
            justify-content: space-between; 
        }

        #years{
            width: 10vw;
            height: 3vw;
            border-radius: 0.5vw;
            border: 0.1vw solid #000000;
            padding: 0.5vw;
        }
        .child32{
          width:50vw;
          /* background-color:#f2f2f2; */
          background-color:white;
        }

        .child321{
            display:flex;
            justify-content: space-between; 
            align-items: center;
            height: 10vh;
            padding: 1vw;
        }


        input{
            border-radius: 0.5vw;
            border: 0.1vw solid #000000;
            padding: 0.5vw;
            width: 15vw;
            height: 2vw;
        }

        h1{
            font-family: 'Roboto';
            font-size: 3vw;
            font-size: 2.5vw;
            font-style: normal;
            font-weight: 700;
            color: #000000;
        }

        h2{
            margin-top:-1.5vw;
            font-family: 'Roboto';
            font-size: 2vw;
            font-style: normal;
            font-weight: 700;
            color: #727272;
        }
        p{
         
            font-family: 'Roboto';
            font-size: 1vw;
            font-style: normal;
            font-weight: 700;
            color: #000000;
        }


        #myTable{
            border-collapse: collapse;
            width: 100%;
            font-family: 'Roboto';
            font-size: 1vw;
            font-style: normal;
            font-weight: 700;
            color: #000000;
        }

        td, th {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

    </style>
</head>
<body>
    <div class="mainContainer">

        <div class="child1">  
            <div class="child11"><svg width="8vw" height="8vw" viewBox="0 0 115 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M114.953 25H113.922L112.266 22.7031C111.859 23.0677 111.427 23.4115 110.969 23.7344C110.521 24.0469 110.047 24.3229 109.547 24.5625C109.047 24.7917 108.531 24.974 108 25.1094C107.479 25.2448 106.948 25.3125 106.406 25.3125C105.229 25.3125 104.12 25.1146 103.078 24.7188C102.047 24.3229 101.141 23.75 100.359 23C99.5885 22.2396 98.9792 21.3125 98.5312 20.2188C98.0833 19.125 97.8594 17.8802 97.8594 16.4844C97.8594 15.1823 98.0833 13.9896 98.5312 12.9062C98.9792 11.8125 99.5885 10.875 100.359 10.0938C101.141 9.3125 102.047 8.70833 103.078 8.28125C104.12 7.84375 105.229 7.625 106.406 7.625C106.948 7.625 107.484 7.69271 108.016 7.82812C108.547 7.96354 109.062 8.15104 109.562 8.39062C110.062 8.63021 110.536 8.91146 110.984 9.23438C111.443 9.55729 111.87 9.90625 112.266 10.2812L113.922 8.29688H114.953V25ZM110.656 16.4844C110.656 15.901 110.542 15.3385 110.312 14.7969C110.094 14.2448 109.792 13.7604 109.406 13.3438C109.021 12.9167 108.568 12.5781 108.047 12.3281C107.536 12.0677 106.99 11.9375 106.406 11.9375C105.823 11.9375 105.271 12.0365 104.75 12.2344C104.24 12.4323 103.792 12.724 103.406 13.1094C103.031 13.4948 102.734 13.974 102.516 14.5469C102.297 15.1094 102.188 15.7552 102.188 16.4844C102.188 17.2135 102.297 17.8646 102.516 18.4375C102.734 19 103.031 19.474 103.406 19.8594C103.792 20.2448 104.24 20.5365 104.75 20.7344C105.271 20.9323 105.823 21.0312 106.406 21.0312C106.99 21.0312 107.536 20.9062 108.047 20.6562C108.568 20.3958 109.021 20.0573 109.406 19.6406C109.792 19.2135 110.094 18.7292 110.312 18.1875C110.542 17.6354 110.656 17.0677 110.656 16.4844Z" fill="black"/>
                <path d="M95.4844 25H91.1875V1.60938H95.4844V25Z" fill="black"/>
                <path d="M88.6562 3.71875C88.6562 4.11458 88.5781 4.48438 88.4219 4.82812C88.276 5.17188 88.0729 5.47396 87.8125 5.73438C87.5521 5.98438 87.2448 6.1875 86.8906 6.34375C86.5469 6.48958 86.1771 6.5625 85.7812 6.5625C85.3854 6.5625 85.0104 6.48958 84.6562 6.34375C84.3125 6.1875 84.0104 5.98438 83.75 5.73438C83.5 5.47396 83.2969 5.17188 83.1406 4.82812C82.9948 4.48438 82.9219 4.11458 82.9219 3.71875C82.9219 3.33333 82.9948 2.96875 83.1406 2.625C83.2969 2.27083 83.5 1.96875 83.75 1.71875C84.0104 1.45833 84.3125 1.25521 84.6562 1.10938C85.0104 0.953125 85.3854 0.875 85.7812 0.875C86.1771 0.875 86.5469 0.953125 86.8906 1.10938C87.2448 1.25521 87.5521 1.45833 87.8125 1.71875C88.0729 1.96875 88.276 2.27083 88.4219 2.625C88.5781 2.96875 88.6562 3.33333 88.6562 3.71875ZM87.9219 25H83.625V8.26562H87.9219V25Z" fill="black"/>
                <path d="M69.8906 25H65.625V8.26562H66.6562L68.0625 9.89062C68.75 9.26562 69.526 8.78646 70.3906 8.45312C71.2656 8.10938 72.1771 7.9375 73.125 7.9375C74.1458 7.9375 75.1094 8.13542 76.0156 8.53125C76.9219 8.91667 77.7135 9.45312 78.3906 10.1406C79.0677 10.8177 79.599 11.6146 79.9844 12.5312C80.3802 13.4375 80.5781 14.4062 80.5781 15.4375V25H76.3125V15.4375C76.3125 15 76.2292 14.5885 76.0625 14.2031C75.8958 13.8073 75.6667 13.4635 75.375 13.1719C75.0833 12.8802 74.7448 12.651 74.3594 12.4844C73.974 12.3177 73.5625 12.2344 73.125 12.2344C72.6771 12.2344 72.2552 12.3177 71.8594 12.4844C71.4635 12.651 71.1198 12.8802 70.8281 13.1719C70.5365 13.4635 70.3073 13.8073 70.1406 14.2031C69.974 14.5885 69.8906 15 69.8906 15.4375V25Z" fill="black"/>
                <path d="M62.3594 25H61.3281L59.6719 22.7031C59.2656 23.0677 58.8333 23.4115 58.375 23.7344C57.9271 24.0469 57.4531 24.3229 56.9531 24.5625C56.4531 24.7917 55.9375 24.974 55.4062 25.1094C54.8854 25.2448 54.3542 25.3125 53.8125 25.3125C52.6354 25.3125 51.526 25.1146 50.4844 24.7188C49.4531 24.3229 48.5469 23.75 47.7656 23C46.9948 22.2396 46.3854 21.3125 45.9375 20.2188C45.4896 19.125 45.2656 17.8802 45.2656 16.4844C45.2656 15.1823 45.4896 13.9896 45.9375 12.9062C46.3854 11.8125 46.9948 10.875 47.7656 10.0938C48.5469 9.3125 49.4531 8.70833 50.4844 8.28125C51.526 7.84375 52.6354 7.625 53.8125 7.625C54.3542 7.625 54.8906 7.69271 55.4219 7.82812C55.9531 7.96354 56.4688 8.15104 56.9688 8.39062C57.4688 8.63021 57.9427 8.91146 58.3906 9.23438C58.849 9.55729 59.276 9.90625 59.6719 10.2812L61.3281 8.29688H62.3594V25ZM58.0625 16.4844C58.0625 15.901 57.9479 15.3385 57.7188 14.7969C57.5 14.2448 57.1979 13.7604 56.8125 13.3438C56.4271 12.9167 55.974 12.5781 55.4531 12.3281C54.9427 12.0677 54.3958 11.9375 53.8125 11.9375C53.2292 11.9375 52.6771 12.0365 52.1562 12.2344C51.6458 12.4323 51.1979 12.724 50.8125 13.1094C50.4375 13.4948 50.1406 13.974 49.9219 14.5469C49.7031 15.1094 49.5938 15.7552 49.5938 16.4844C49.5938 17.2135 49.7031 17.8646 49.9219 18.4375C50.1406 19 50.4375 19.474 50.8125 19.8594C51.1979 20.2448 51.6458 20.5365 52.1562 20.7344C52.6771 20.9323 53.2292 21.0312 53.8125 21.0312C54.3958 21.0312 54.9427 20.9062 55.4531 20.6562C55.974 20.3958 56.4271 20.0573 56.8125 19.6406C57.1979 19.2135 57.5 18.7292 57.7188 18.1875C57.9479 17.6354 58.0625 17.0677 58.0625 16.4844Z" fill="black"/>
                <path d="M42.8906 25H41.8594L40.2031 22.7031C39.7969 23.0677 39.3646 23.4115 38.9062 23.7344C38.4583 24.0469 37.9844 24.3229 37.4844 24.5625C36.9844 24.7917 36.4688 24.974 35.9375 25.1094C35.4167 25.2448 34.8854 25.3125 34.3438 25.3125C33.1667 25.3125 32.0573 25.1146 31.0156 24.7188C29.9844 24.3229 29.0781 23.75 28.2969 23C27.526 22.2396 26.9167 21.3125 26.4688 20.2188C26.0208 19.125 25.7969 17.8802 25.7969 16.4844C25.7969 15.1823 26.0208 13.9896 26.4688 12.9062C26.9167 11.8125 27.526 10.875 28.2969 10.0938C29.0781 9.3125 29.9844 8.70833 31.0156 8.28125C32.0573 7.84375 33.1667 7.625 34.3438 7.625C34.8854 7.625 35.4219 7.69271 35.9531 7.82812C36.4844 7.96354 37 8.15104 37.5 8.39062C38 8.63021 38.474 8.91146 38.9219 9.23438C39.3802 9.55729 39.8073 9.90625 40.2031 10.2812L41.8594 8.29688H42.8906V25ZM38.5938 16.4844C38.5938 15.901 38.4792 15.3385 38.25 14.7969C38.0312 14.2448 37.7292 13.7604 37.3438 13.3438C36.9583 12.9167 36.5052 12.5781 35.9844 12.3281C35.474 12.0677 34.9271 11.9375 34.3438 11.9375C33.7604 11.9375 33.2083 12.0365 32.6875 12.2344C32.1771 12.4323 31.7292 12.724 31.3438 13.1094C30.9688 13.4948 30.6719 13.974 30.4531 14.5469C30.2344 15.1094 30.125 15.7552 30.125 16.4844C30.125 17.2135 30.2344 17.8646 30.4531 18.4375C30.6719 19 30.9688 19.474 31.3438 19.8594C31.7292 20.2448 32.1771 20.5365 32.6875 20.7344C33.2083 20.9323 33.7604 21.0312 34.3438 21.0312C34.9271 21.0312 35.474 20.9062 35.9844 20.6562C36.5052 20.3958 36.9583 20.0573 37.3438 19.6406C37.7292 19.2135 38.0312 18.7292 38.25 18.1875C38.4792 17.6354 38.5938 17.0677 38.5938 16.4844Z" fill="black"/>
                <path d="M23.3125 25H18.8438V9C18.8438 8.6875 18.7812 8.39583 18.6562 8.125C18.5417 7.85417 18.3802 7.61979 18.1719 7.42188C17.974 7.21354 17.7396 7.05208 17.4688 6.9375C17.1979 6.82292 16.9062 6.76562 16.5938 6.76562C16.2812 6.76562 15.9896 6.82292 15.7188 6.9375C15.4479 7.05208 15.2083 7.21354 15 7.42188C14.8021 7.61979 14.6458 7.85417 14.5312 8.125C14.4167 8.39583 14.3594 8.6875 14.3594 9V25H9.875V9C9.875 8.6875 9.81771 8.39583 9.70312 8.125C9.58854 7.85417 9.42708 7.61979 9.21875 7.42188C9.02083 7.21354 8.78646 7.05208 8.51562 6.9375C8.24479 6.82292 7.95312 6.76562 7.64062 6.76562C7.32812 6.76562 7.03646 6.82292 6.76562 6.9375C6.49479 7.05208 6.25521 7.21354 6.04688 7.42188C5.84896 7.61979 5.69271 7.85417 5.57812 8.125C5.46354 8.39583 5.40625 8.6875 5.40625 9V25H0.921875V9C0.921875 8.07292 1.09375 7.20312 1.4375 6.39062C1.79167 5.56771 2.27083 4.85417 2.875 4.25C3.48958 3.63542 4.20312 3.15625 5.01562 2.8125C5.83854 2.45833 6.71354 2.28125 7.64062 2.28125C8.47396 2.28125 9.27604 2.43229 10.0469 2.73438C10.8177 3.02604 11.5104 3.45312 12.125 4.01562C12.7396 3.45312 13.4271 3.02604 14.1875 2.73438C14.9583 2.43229 15.7604 2.28125 16.5938 2.28125C17.5208 2.28125 18.3906 2.45833 19.2031 2.8125C20.026 3.15625 20.7396 3.63542 21.3438 4.25C21.9583 4.85417 22.4375 5.56771 22.7812 6.39062C23.1354 7.20312 23.3125 8.07292 23.3125 9V25Z" fill="#E16449"/>
                </svg></div>
            <div class="child12"><ul>
                <li>Home</li>
                <li>About</li>
                <li>Services</li>
                <li>Contact</li>
            </ul></div>
        </div>

        <div class="child2">   
            <div class="child 21">
                <div class="logo"></div>
                <h1><%= data.count %></h1>
                <h2>Groups</h2>
                <!-- <p>Total no of groups</p> -->
            </div>

            <div class="child 22"> <div class="logo"></div>
            <h1><%= data.members %></h1>
            <h2>Members</h2>
            <!-- <p>Total no of members</p> -->
           </div>
            <div class="child 23">  <div class="logo"></div>
            <h1><%= data.netAmount %></h1>
            <h2>Net Amount</h2>
            <!-- <p>Current Year Collection</p> -->
           </div>
            <div class="child 24"> <div class="logo"></div>
            <h1>20</h1>
            <h2>Dummy</h2>
            <!-- <p>Total no of Data</p> -->
           </div>
         </div>

            <div class="child3">  
                   <div class="child31">


                    <div class="child311">
                       <div class="child3111">
                           <h2>Budget Issued</h2>
                       </div>

                       <div class="child3112"> <select id="years">
                        <option value="2024">2024</option>
                        <option value="orange">Orange</option>
                        <option value="banana">Banana</option>
                        <option value="mango">Mango</option>
                        </select></div>
                    </div>

                   </div>
                   <div class="child32">
                        <div class="child321">
                            <div class="child3211">
                                <h2>User Details</h2>
                            </div>
                            <div class="child3212"><input type="text" placeholder="Search"></div>
                        </div>

                        <div class="child322">
                            <table id="myTable" >
                                <thead>
                                    <tr>
                                        <th>Group</th>
                                        <th>Name</th>
                                        <th>MotherName</th>
                                        <th>Net Amount</th>
                                    </tr>
                                </thead>
                                <tbody>

                              <%  data.userArr.forEach(user => {  %>
                                    <tr>
                                        <td><%= user.groupname %></td>
                                        <td><%= user.name %></td>
                                        <td><%= user.mothername %></td>
                                        <td><%= user.net_amount %></td>
                                        <td><svg width="2.5vw" height="2.5vw" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <circle cx="13.5" cy="13.5" r="13.5" fill="#7DC544"/>
                                            <path d="M18.9799 10.7603L18.4679 12.7589H9L9.52209 10.7603H18.9799ZM14.1305 22L9.29116 16.1174L9.28112 14.3558H11.6406C12.1894 14.3558 12.6412 14.2459 12.996 14.0261C13.3507 13.8063 13.6151 13.511 13.7892 13.1401C13.9632 12.7624 14.0502 12.3434 14.0502 11.8832C14.0502 11.4025 13.9699 10.9766 13.8092 10.6058C13.6486 10.2349 13.3909 9.94643 13.0361 9.74038C12.6814 9.52747 12.2095 9.42102 11.6205 9.42102H9.01004L9.60241 7H11.6205C12.8253 7 13.8293 7.18544 14.6325 7.55632C15.4357 7.9272 16.0382 8.46291 16.4398 9.16346C16.8414 9.85714 17.0422 10.6985 17.0422 11.6875C17.0422 12.5529 16.9083 13.3118 16.6406 13.9643C16.3728 14.6168 15.9478 15.1559 15.3655 15.5817C14.7831 16.0007 14.0167 16.296 13.0663 16.4677L17.4237 21.8558V22H14.1305ZM19 7L18.4779 8.98832H10.6365L11.1586 7H19Z" fill="white"/>
                                            </svg>
                                            
                                            </td>
                                    </tr>  
                             <%   })    %>                      
                                </tbody>
                            </table>
                        </div>
                    </div>
                      
            </div>
        </div>
    </div>
    
</body>
</html>